.appDownloadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .getTheApp {
    color: #262626;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .downloadButtons {
    display: flex;
  }
  
  .appStore,
  .googlePlay {
    margin-right: 5px;
  }
  
  .appStore:last-child,
  .googlePlay:last-child {
    margin-right: 0;
  }
  
  .appStore img,
  .googlePlay img {
    height: 40px; /* Adjust as needed */
  }